body, html {
    height: 100%;
    font-family: "benguiatbold", Arial, Helvetica, sans-serif;
    color: rgb(204, 4, 4);
}
.bg {
    background-color: rgb(2, 1, 10);
    background-image: url(/assets/images/stranger-bikes-background.jpg);
    background-size: 100%;
}

.red-background {
    background-color: rgb(204, 4, 4);
    color: white;
    font-size: 15px;
}

#start-button, #submit-button, #play-again-button {
    color: black;
}
.start-screen, .results, .play-again,
.question-screen {
    box-sizing: border-box;
    margin: 0 auto;
    }
div {
    display: block;
    text-align: center;

}
.form {
    font-size: 15px;
    display: block;
}
.radio-inline {
    font-size: 15px;
    margin-right: 8px;
}
hr {
    border-color: rgb(204, 4, 4);
    margin: 5px;
}
.optradio {
    margin-right: 2px;
    font-size: 12px;
}
img {
    width: 100%;
    z-index: -1;
}
.col-sm-10 {
    text-align: left;
}
.results {
    padding: 30px 0px 30px 0px;
    font-size: 25px;
}

